.row
  .col-lg-12
    %table.table
      %thead
        %tr.info
          %td Id
          %td Brand
          %td Model
          %td Seats
          %td
          %td
            -if current_user.cars.empty?
              = link_to "Add new car", new_user_car_path(current_user), class: 'btn btn-primary'
            -else
              %button.btn.btn.primary.disabled Add new car
      %tbody
      - cars.each do |car|
        %tr
          %td= car.id
          %td= car.brand
          %td= car.model
          %td= car.seats
          %td= link_to "Edit", edit_user_car_path(current_user, car), class: 'btn btn-default'
          %td= link_to "Destroy", [current_user, car], method: 'delete', class: 'btn btn-danger'
