.panel.panel-default
  .panel-heading
    = ride.owner.email
    - if show_link
  .panel-body
    .row
      .col-lg-3
        .container
          %h3= "#{ride.owner.firstname} #{ride.owner.lastname}"
          = image_tag(ride.owner.gravatar)
      .col-lg-3
        .span.center-aligned
          %h2= start_point(ride.points).name
          %span.glyphicon.glyphicon-arrow-down
          %h2= end_point(ride.points).name
      .col-lg-6
        %h3= ride.departure_at.strftime("%A, %d %B %Y, %H:%M")
        %p= ride.description
          = link_to 'Review!', new_ride_review_path(ride), class: "btn btn-primary"
