.panel.panel-default
  .panel-heading
    = ride.owner.email
    = link_to 'Show this ride', ride_path(ride), class: "pull-right"
  .panel-body
    .row
      .col-lg-3
        .container
          %h3= "#{ride.owner.firstname} #{ride.owner.lastname}" 
          = image_tag(ride.owner.gravatar)
      .col-lg-3
        .span.center-aligned
          %h2= ride.points.first.name
          %span.glyphicon.glyphicon-arrow-down
          %h2= ride.points.last.name
      .col-lg-6
        %h3= ride.departure_at.strftime("%A, %d %B %Y, %H:%M")
        %p= ride.description
        - if UserRide.alreadyrequested?(current_user, ride)
          .alert.alert-info You requested a place for this ride.
        - else
          = link_to 'Request', ride_user_rides_path(ride), method: :post, class: 'btn btn-primary'
