.panel.panel-default
  .panel-heading= ride.owner.email
  .panel-body
    .row
      .col-lg-3
        .container
          %h3= "#{ride.owner.firstname} #{ride.owner.lastname}" 
      .col-lg-3
        .span.center-aligned
          %h2= ride.points.first.name
          %span.glyphicon.glyphicon-arrow-down
          %h2= ride.points.last.name
      .col-lg-3
        %h3= ride.departure_at
        %p= ride.description
        = link_to 'Request', ride_user_rides_path(ride), method: :post
