.panel.panel-default
  .panel-heading
    = ride.owner.email
    - if show_link
      = link_to 'Show this ride', ride_path(ride), class: "pull-right"
  .panel-body
    .row
      .col-lg-3
        .container
          %h3= "#{ride.owner.firstname} #{ride.owner.lastname}"
          = image_tag(ride.owner.gravatar)
      .col-lg-3
        .span.center-aligned
          %h2= start_point(ride.points).name
          %span.glyphicon.glyphicon-arrow-down
          %h2= end_point(ride.points).name
      .col-lg-6
        %h3= ride.departure_at.strftime("%A, %d %B %Y, %H:%M")
        %p= ride.description
        - unless current_user == ride.owner
          - if UserRide.alreadyrequested?(current_user, ride)
            .alert.alert-info You requested a place for this ride.
          - else
            = link_to 'I want to ride!', ride_user_rides_path(ride), method: :post, class: "btn btn-primary"
        - else
          = link_to 'This is your ride!', ride_path(ride), class: 'btn btn-warning'
  .panel-footer
    .row
      .col-lg-6
        .span.left_aligned
          %h4 Car:
      .col-lg-6
        .span.left_aligned
          %h4 Available seats:
    .row
      .col-lg-3
        .span.left_aligned
          = car_name(ride.owner.car)
      .col-lg-3
        .span.left_aligned
          = car_free_seats(ride.owner.car)
      .col-lg-3
      .col-lg-3
        - if current_user == ride.owner
          - unless ride.finished?
            = link_to "Finish ride", finish_ride_path(ride), method: :post, class: "btn btn-primary"
          - else
            %button.btn.btn.primary.disabled Ride finished
